<h1>用户列表</h1>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">用户名</th>
        </tr>
      </thead>
      <tbody>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>